@inherits LayoutComponentBase

<div class="auth-layout">
    <main>
        @Body
    </main>
</div>

<style>
    .auth-layout {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: var(--arc-bg-alt);
    }
</style>
